html,
body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: #000000;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.webgpu_canvas {
  width: 100%;
  height: 100%;
  /*display: none;*/
}

.error {
  color: #ff0000;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
}

.stats {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

.gui {
  position: absolute;
  left: 0;
  top: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.gui > .chrome-picker {
  margin: 5px;
}

.gui > button {
  margin: 5px;
}

.slider {
  padding: 5px;
}

.slider input {
  width: 100%;
}
